<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="club.dao.ClubInfoDao" >

    <!--sql-->
    <select id="getList" parameterType="club.model.ClubInfo" resultType="club.model.ClubInfo">
        select * from club_info
        where 1=1
        <if test="id !=null">
            and  id=#{id}
        </if>
        <if test="name !=null">
            and  name=#{name}
        </if>
        <if test="teacher_id !=null">
            and  teacher_id=#{teacher_id}
        </if>
        <if test="club_member_id !=null">
            and  club_member_id=#{club_member_id}
        </if>
        <if test="club_found_time !=null">
            and  club_found_time=#{club_found_time}
        </if>
        <if test="del_flag !=null">
            and  del_flag=#{del_flag}
        </if>
    </select>
    <insert id="insertOne" parameterType="club.model.ClubInfo">
      insert into club_info values(#{id},#{name},#{teacher_id},#{club_member_id},#{club_found_time},#{desc},#{del_flag})
    </insert>
    <update id="updateOne" parameterType="club.model.ClubInfo">
        update club_info set
        "name"=#{name},
        teacher_id=#{teacher_id},
        club_member_id=#{club_member_id},
        club_found_time=#{club_found_time},
        "desc"=#{desc},
        del_flag=#{del_flag},
        where id=#{id}
    </update>
</mapper>
