<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="club.dao.ClubInfoDao" >

    <!--sql-->
    <select id="getList" parameterType="club.model.ClubInfo" resultType="club.model.ClubInfo">
        select cl.* from club_info cl
        where 1=1
        <if test="id !=null">
            and  cl.id=#{id}
        </if>
        <if test="name !=null">
            and  cl.`name`=#{name}
        </if>
        <if test="club_found_time !=null">
            and  club_found_time=#{club_found_time}
        </if>
        <if test="del_flag !=null">
            and  cl.del_flag=#{del_flag}
        </if>
    </select>
    <insert id="insertOne" parameterType="club.model.ClubInfo">
      insert into club_info (id, `name`,club_found_time,`desc`,del_flag) values(#{id},#{name},#{club_found_time},#{desc},#{del_flag})
    </insert>
    <update id="updateOne" parameterType="club.model.ClubInfo">
        update club_info set
        `name`=#{name},
        club_found_time=#{club_found_time},
        `desc`=#{desc},
        del_flag=#{del_flag}
        where id=#{id}
    </update>
    <select id="getListClubName" resultType="String">
        select `name` from club_info where del_flag='N'
    </select>
</mapper>
